{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}


    <div class="card p-2 my-4">
        <p>Room: {{ room.name }}</p>
        <p>Description: {{ room.description }}</p>
        <p>cost per night: {{ room.price }}</p>


    </div>


    {{ form_start(formReservation) }}


    {{ form_row(formReservation.checkIn) }}
    {{ form_row(formReservation.checkOut) }}
    {{ form_row(formReservation.numberOfPeople) }}

    <button type="submit" class="btn btn-primary">bouton </button>

    {{ form_end(formReservation) }}


{% endblock %}
