{% extends 'base.html.twig' %}

{% block title %}Starry Night Hotel | Reservation 1/3{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>~ Choose your dates ~</h1>
                <div class="mx-5">
                    {#    Message flash#}
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice alert alert-warning alert-dismissible fade show" role="alert">
                            <p class="mb-0">{{ message }}</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}


                    {{ form_start(formReservation) }}


                    {{ form_row(formReservation.checkIn) }}
                    {{ form_row(formReservation.checkOut) }}
                    {{ form_row(formReservation.numberOfPeople) }}


                    <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-link">Proceed to next step: Guest information ></button>
                    </div>

                    {{ form_end(formReservation) }}



                    <div class="py-perso" id='calendar'></div>
                </div>

            </div>

            <div class="col-3">

                <div class="card p-3 mb-5" >
                    <div class="d-flex justify-content-end">
                        {% if reservation.id is not null %}
                            <a href="{{ path('reservation_cancel', {id:reservation.id}) }}" class="badge text-bg-danger text-decoration-none">Cancel reservation</a>
                        {% endif %}
                    </div>
                    <h2>Recap</h2>

                        <p class="fw-bold">Room: {{ room.name }}</p>
                        <p>Cost per night: {{ room.price }} €</p>
                        <div class="d-flex">
                            <p>Equipment:</p>
                            <ul>
                                {% for equipment in room.equipment %}
                                    <li class="">{{ equipment.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
            </div>

        </div>

    </div>




{% endblock %}
