{% extends 'base.html.twig' %}

{% block title %}Starry Night Hotel | Reservation 2/3{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-9">
                <h1>~ Guest info ~</h1>

                {{ form_start(formGuestInfo) }}
                {{ form_row(formGuestInfo.name) }}
                {{ form_row(formGuestInfo.surname) }}
                {{ form_row(formGuestInfo.email) }}

                <div class="d-flex justify-content-between">
                    <a href="{{ path('reservation_choices', {id:reservation.room.id}) }}" class="btn btn-link">< Previous step: Choose dates</a>
                    <button type="submit" class="btn btn-link">Proceed to next step: payment ></button>
                </div>




                {{ form_end(formGuestInfo) }}
            </div>

            <div class="col-3">

                <div class="card p-3 my-5" >
                    <div class="d-flex justify-content-end">
                        {% if reservation.id is not null %}
                            <a href="{{ path('reservation_cancel', {id:reservation.id}) }}" class="badge text-bg-danger text-decoration-none">Cancel reservation</a>
                        {% endif %}
                    </div>
                    <h2>Recap</h2>

                    <p class="fw-bold">Room: {{ room.name }}</p>
                    <p class="fw-bold">Dates: {{ reservation.checkIn|date("d/m/Y") }} - {{ reservation.checkOut|date("d/m/Y") }}</p>
                    <p class="fw-bold mb-5">Total cost: {{ reservation.cost }} €</p>

                    <p>Cost per night: {{ room.price }} €</p>
                    <p>Number of guests : {{ reservation.numberOfPeople }}</p>
                    <div class="d-flex">
                        <p>Equipment:</p>
                        <ul>
                            {% for equipment in room.equipment %}
                                <li class="">{{ equipment.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>


    </div>



{% endblock %}
