{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}

<h1>guest info</h1>

    {{ form_start(formGuestInfo) }}
    {{ form_row(formGuestInfo.name) }}
    {{ form_row(formGuestInfo.surname) }}
    {{ form_row(formGuestInfo.email) }}

    <button type="submit" class="btn btn-primary">next step: payment</button>

    {{ form_end(formGuestInfo) }}

{% endblock %}
