{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}

    <h1>{{ "h1.rooms"|trans }}</h1>

    <div class="row">
        {% for room in rooms %}
            <div class="card mb-3 cont col-4" >
                <a class="text-decoration-none" href="{{ path('show_room', {id:room.id}) }}">

                {% if room.images|length > 0 %}

                    <img src="{{ vich_uploader_asset(room.images.0, 'imageFile')}}" class="img-fluid rounded-start" alt="...">

                {% endif %}

                <div class="col-md-8 overlay">
                    <div class="text text-center">
                        <h3 class="text-white text-uppercase">{{ room.name }}</h3>
                        <p class="text-white">{{ room.price }}€/night</p>
                        <a class="btn btn-primary" href="{{ path('reservation_choices', {id:room.id}) }}">{{ "btn.book"|trans }}</a>

                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
