<nav class="container navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand vincent" href="{{ path('app_home') }}">
            <img src="{{ asset('logo.jpg') }}" height="50px" alt="">
        </a>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">


            {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-link" href="">{{ "navbar.admin.overview"|trans }} </a>
                    <a class="btn btn-link" href="{{ path('app_establishment') }}">{{ "navbar.admin.establishment"|trans }}</a>
                        <a class="btn btn-link" href="{{ path('app_room_admin') }}">{{ "navbar.admin.rooms"|trans }} </a>
                        <a class="btn btn-link" href="{{ path('app_reservation_admin_index') }}">{{ "navbar.admin.reservations"|trans }} </a>
                        <a class="btn btn-link" href="{{ path('app_equipment_index') }}">{{ "navbar.admin.equipment"|trans }} </a>
                <a class="btn btn-link" href="{{ path('app_logout') }}">{{ "navbar.logout"|trans }} </a>

                    {% elseif app.user %}
                        <a class="btn btn-link" href="{{ path('app_room') }}">{{ "navbar.rooms"|trans }}</a>
                        <div class="d-flex">
                            <a class="btn btn-link" href="{{ path('app_logout') }}">{{ "navbar.logout"|trans }}</a>
                            <a class="btn btn-link" href="{{ path('app_profile') }}">Profile</a>
                        </div>
                {% else %}
                    <a class="btn btn-link" href="{{ path('app_room') }}">{{ "navbar.rooms"|trans }}</a>
                    <div class="d-flex">
                        <a class="btn btn-link" href="{{ path('app_login') }}"> {{ "navbar.signin"|trans }}</a>
                    </div>
                {% endif %}



        </div>
    </div>
</nav>